body{
    background-color: rgb(236, 236, 230);
}
section{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
div{
    width:25%;
    background-color: white;
    border-radius: 5%;
    padding: 20px;
    margin: 25px;
}
img{
    width:100px;
    border-radius: 100%;
    margin: 20px 0 0 20px;
}