body {
  color: #000000;
}
.container {
  background-color: blanchedalmond;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10% 0 0 15%;
}
.main{
    width: 100%;
    text-align: center;
}
img{
    width: 100%;
}
.section {
    width: 100%;
    text-align: center;
    padding: 5%;
}

.sign-up{
    padding: 5% 10%;
    background-color: #eee;
}
.form-items{
    height: 70px;
}
.form-control{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0 10px ;
}

.form-button > button{
    width: 105%;
    background-color: red;
    color: white;
    margin-top: 15px;
    border: 0;
    cursor: pointer;
}
.form-button > button:hover{
    width: 105%;
    background-color: black;
    color: red;
}
.span-error{
    color: red;
}
