.container, .second-container {
    background-color: white;
    width: 49%;
    min-height: 200px;
    border: 8px groove grey;
    color: crimson;
    position: fixed;
    margin: 2% 0 0 25%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.second-container {
    margin-top: 30%;
}
.c-box {
    width: 100%;
    text-align: center;
}
.labels{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.cast-label{
    width: 15%;
    height: 40px;
    background-color: crimson;
    border: 5px groove #ccc;
    border-right: 0;
    color: white;
    border-radius: 25px 0 0 25px;
    padding: 0 15px;
    font-size: 20px;
}
.cast-input{
    width: 80%;
    height: 40px;
    border-radius: 0 25px 25px 0;
    border: 5px groove #ccc;
    border-left: 0;
    padding: 0 15px;
    font-size: 20px;
}
#cast-btn{
    width: 30%;
    height: 40px;
    background-color: black;
    border: 5px groove grey;
    color: white;
    float: right;
    cursor: pointer;
}
#cast-btn:hover{
    border: 5px groove white;

}

.search{
    width: 100%;
    display: flex;
    align-items: center;
}
.search-input, .search-btn{
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    border: 5px groove #ccc;
}
.search-input{
    width: 80%;
    border-radius: 5px 0 0 5px;
    border-right: 0;
}
.search-btn{
    width: 15%;
    border-radius: 0 5px 5px 0;
    height: 50px;
    border-left: 0;
    cursor: pointer;
    background-color: crimson;
    color: white;
}
.search-btn:hover{
    border: 5px groove grey;
}

table{
    float: right;
    width: 80%;
    text-align: left;
    color: black;
}
td{
    color: crimson;
}