body {
    -webkit-transition: 1s;
    transition: 1s;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
h1{
    font-size: 50px;
}
.btn {
    width: 100px;
    height: 100px;
    color: white;
    border: 0.1px solid black;
    border-radius: 100%;
    cursor: pointer;
}
#grey{
    background-color: grey;
    
}
#blanchedalmond{
    background-color: blanchedalmond;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#purple{
    background-color: purple;
}
