.card{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 15px;
    border: 2px solid black;
    margin-bottom: 20px;
}
.card img{
    width: 250px;
    height: 250px;
}

.card button{
    width: 100px;
}