.body{
    background-color: white;
}
.container {
    padding: 0.2%;
    border-radius: 10px;
    background-color: rgb(255, 247, 247);
}

#calc-output, #calc-result{
    width: 99.85%;
    height: 150px;
    border: 0;
    color: black;
    font-size: 100px;
    text-align: right;
}
#calc-output{
    border-radius: 25px 25px 0 0;
}
#calc-result {
    border-radius: 0 0 5px 5px;
    font-size: 50px;
    color: red;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn{
    width: 25%;
    height: 170px;
    background-color: rgb(252, 252, 252);
    color: black;
    font-size: xx-large;
    cursor: pointer;
}
.btn:hover{
    color: white;
    background-color: orange;
}
.btn-line1, .btn-line2, .btn-line3{
    border-width: 0 .1px .1px 0;
    border-color: white;
}
.btn-line4{
    border-width: 0 0 .1px 0;
}
.btn-bottom{
    border-width: 0 .1px 0 0;
}
.btn-equal{
    width: 50%;
    background-color: royalblue;
    color: white;
    border-radius: 0 0 25px 0;
}
.btn-zero{
    border-radius: 0 0 0 25px;
}

@media only screen and (max-width: 850px) {
.btn{
    height: 100px;
}
#calc-output, #calc-result{
    height: 180px;
}
}